<div class="jumbotron">
  <h2 class="centeralign">Log In</h2>
  <br>
  <%= form_for :login do |f| %>
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-addon">Email ID</div>
        <%= f.email_field :email, class: "form-control", placeholder: "Type Your Email Here" %>
      </div>
      <br>
      <br>
      <div class="input-group">
        <div class="input-group-addon">Password</div>
        <%= f.password_field :password, class: "form-control", placeholder: "Type Your Password Here" %>
      </div>
      <br>
      <br>
    <div class="centeralign">
      <%= f.submit 'Log In', class: "spacer btn btn-lg btn-default" %>
    </div>
    <br>
  <% end %>
</div>
