<div class="jumbotron">
<h2 class="centeralign">About Happy Hour</h2>
<br>
  <div class="row">
    <div class="col-md-5 centeralign">
      <h3>Billy Bazooka</h3>
        <h5>Alcohol Connoisseur</h5>
      <img class="happyguy" src="https://s3-us-west-1.amazonaws.com/happyhour-rushi/Happy+Hour+-+Happy+Guy.png" alt="" height="300" width="300" />
    </div>
    <div class="col-md-6">
      <p> This is  <b>Billy Bazooka</b>. He like many people wants to just go out to a nice Bar after a long day of work and have a drink. He also like many people doesnt have botomless pockets. He wants a solution that allows him to Relax with his buddies as well as not break the bank </p>

      <p>Introducing <b>Happy Hour</b>.... A realtime tracker for all bars that have happy hours around you. This site allows you to view based on location and time all the bars that have Happy Hours at that very instant so that you can plan your outing accordingly. It will also show you a comprehensive list of prices so you can compare and pick the place that best suits you.</p>
    </div>
  </div>
</div>
