<div class="jumbotron">
<h1>About Happy Hour</h1>
<p>How many times how you wondered where to grab a drink after work but couldn't decide where? How many times have you over paid for alcohol only to realize there was a One on One offer just a block from where you were?</p>

<p>Introducing HappyHour.... A realtime tracker for all bars and restaurants around you to keep track of the dynamic happy hours around you. This site allows you to view based on location and time all the bars and restaurants that have Happy Hours at that very instant so that you can plan your outing accordingly. It will also show you a comprehensive list of prices so you can compare and pick the place that best suits you.</p>
</div>