<footer>
  <br>
     <div class="container">
         <div class="row barlistself">
             <div class="col-md-4">
                 <h5><span class="copyright">Copyright &copy; <a href='#'>Happy Hour 2015</a></span></h5>
             </div>
             <div class="col-md-4">
                 <ul class="list-inline social-buttons">
                     <li><a target="_blank" href="https://twitter.com/womenshospitals"><i class="fa fa-twitter"></i></a>
                     </li>
                     <li><a target="_blank" href="https://www.facebook.com/womenshospitalindia?fref=ts"><i class="fa fa-facebook"></i></a>
                     </li>
                     <li><a href="#"><i class="fa fa-linkedin"></i></a>
                     </li>
                 </ul>
             </div>
             <div class="col-md-4">
                 <ul class="list-inline quicklinks">
                    <h5> <li>
                         A Project By : <a target="_blank" href="http://rushindra.com">Rushindra Sinha</a>
                     </li> </h5>
<!--                         <li><a href="#">Privacy Policy</a>
                     </li>
                     <li><a href="#">Terms of Use</a>
                     </li>
-->                    </ul>
             </div>
         </div>
     </div>
 </footer>
